RUN_MODE=REPLAY
ALLOW_BROKER_WRITES=0
LIVE_MODE=0

MT5_ACCOUNT=
MT5_PASSWORD=
MT5_SERVER=
MT5_SYMBOL=XAUUSD
MT5_TERMINAL_PATH=

DASHBOARD_ENABLED=1
DASHBOARD_PUBLIC=0
DASHBOARD_TOKEN=
CLOUDFLARE_ENABLED=0
CLOUDFLARED_PATH=

DISCORD_TOKEN=
DISCORD_GUILD_ID=
DISCORD_USER_ID=
DISCORD_ALERTS_CHANNEL_ID=
DISCORD_COMMANDS_CHANNEL_ID=
DISCORD_REPORTS_CHANNEL_ID=
DISCORD_LOGS_CHANNEL_ID=

FINNHUB_TOKEN=
FMP_TOKEN=
